<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DescriptionPath</key>
	<string>StoryFiles/</string>
	<key>LastNodes</key>
	<array>
		<string>seo</string>
	</array>
	<key>NodeDescriptionFiles</key>
	<dict>
		<key>afterLibrary</key>
		<string>afterLibrary.html</string>
		<key>bookstore</key>
		<string>bookstore.html</string>
		<key>bookstore-choice</key>
		<string>bookstore-choice.html</string>
		<key>businessOfficeRobertson</key>
		<string>businessOfficeRobertson.html</string>
		<key>cafResCommons</key>
		<string>cafResCommons.html</string>
		<key>cafResCommons-choice</key>
		<string>cafResCommons-choice.html</string>
		<key>career</key>
		<string>career.html</string>
		<key>classroom-Arts</key>
		<string>classroom-Arts.html</string>
		<key>classroom-Business</key>
		<string>classroom-Business.html</string>
		<key>classroom-Engineering</key>
		<string>classroom-Engineering.html</string>
		<key>classroom-PublicAffairs</key>
		<string>classroom-PublicAffairs.html</string>
		<key>classroom-Science</key>
		<string>classroom-Science.html</string>
		<key>cuol</key>
		<string>cuol.html</string>
		<key>cuol-choice</key>
		<string>cuol-choice.html</string>
		<key>cusa</key>
		<string>cusa.html</string>
		<key>deansOffice-Arts</key>
		<string>deansOffice-Arts.html</string>
		<key>deansOffice-Business</key>
		<string>deansOffice-Business.html</string>
		<key>deansOffice-Engineering</key>
		<string>deansOffice-Engineering.html</string>
		<key>deansOffice-PublicAffairs</key>
		<string>deansOffice-PublicAffairs.html</string>
		<key>deansOffice-Science</key>
		<string>deansOffice-Science.html</string>
		<key>cusa-choice</key>
		<string>cusa-choice.html</string>
		<key>foodCourtUC</key>
		<string>foodCourtUC.html</string>
		<key>foodCourtUC-choice</key>
		<string>foodCourtUC-choice.html</string>
		<key>infoCarleton</key>
		<string>infoCarleton.html</string>
		<key>learningSupportLibrary</key>
		<string>learningSupportLibrary.html</string>
		<key>library-disability-scavenge</key>
		<string>library-disability-scavenge.html</string>
		<key>library-groupStudy-scavenge</key>
		<string>library-groupStudy-scavenge.html</string>
		<key>library-photocopy-scavenge</key>
		<string>library-photocopy-scavenge.html</string>
		<key>library-researchHelp-scavenge</key>
		<string>library-researchHelp-scavenge.html</string>
		<key>library-writingTutorial-scavenge</key>
		<string>library-writingTutorial-scavenge.html</string>
		<key>loebCafe</key>
		<string>loebCafe.html</string>
		<key>loebCafe-choice</key>
		<string>loebCafe-choice.html</string>
		<key>root</key>
		<string>root.html</string>
		<key>sasc-Arts</key>
		<string>sasc-Arts.html</string>
		<key>sasc-Business</key>
		<string>sasc-Business.html</string>
		<key>sasc-Engineering</key>
		<string>sasc-Engineering.html</string>
		<key>sasc-PublicAffairs</key>
		<string>sasc-PublicAffairs.html</string>
		<key>sasc-Science</key>
		<string>sasc-Science.html</string>
		<key>seo</key>
		<string>seo.html</string>
		<key>timsAthletics-Arts</key>
		<string>timsAthletics-Arts.html</string>
		<key>timsAthletics-Business</key>
		<string>timsAthletics-Business.html</string>
		<key>timsAthletics-Engineering</key>
		<string>timsAthletics-Engineering.html</string>
		<key>timsAthletics-PublicAffairs</key>
		<string>timsAthletics-PublicAffairs.html</string>
		<key>timsAthletics-Science</key>
		<string>timsAthletics-Science.html</string>
		<key>timsAthletics-choice</key>
		<string>timsAthletics-choice.html</string>
		<key>treatsCTTC-Arts</key>
		<string>treatsCTTC-Arts.html</string>
		<key>treatsCTTC-Business</key>
		<string>treatsCTTC-Business.html</string>
		<key>treatsCTTC-choice</key>
		<string>treatsCTTC-choice.html</string>
		<key>treatsCTTC-Engineering</key>
		<string>treatsCTTC-Engineering.html</string>
		<key>treatsCTTC-PublicAffairs</key>
		<string>treatsCTTC-PublicAffairs.html</string>
		<key>treatsCTTC-Science</key>
		<string>treatsCTTC-Science.html</string>
	</dict>
	<key>PercentProgress</key>
	<dict>
		<key>afterLibrary</key>
		<integer>55</integer>
		<key>bookstore</key>
		<integer>77</integer>
		<key>businessOfficeRobertson</key>
		<integer>5</integer>
		<key>cafResCommons</key>
		<integer>66</integer>
		<key>career</key>
		<integer>95</integer>
		<key>classroom-Arts</key>
		<integer>37</integer>
		<key>classroom-Business</key>
		<integer>37</integer>
		<key>classroom-Engineering</key>
		<integer>37</integer>
		<key>classroom-PublicAffairs</key>
		<integer>37</integer>
		<key>classroom-Science</key>
		<integer>37</integer>
		<key>cuol</key>
		<integer>77</integer>
		<key>cusa</key>
		<integer>77</integer>
		<key>deansOffice-Arts</key>
		<integer>30</integer>
		<key>deansOffice-Business</key>
		<integer>30</integer>
		<key>deansOffice-Engineering</key>
		<integer>30</integer>
		<key>deansOffice-PublicAffairs</key>
		<integer>30</integer>
		<key>deansOffice-Science</key>
		<integer>30</integer>
		<key>foodCourtUC</key>
		<integer>66</integer>
		<key>infoCarleton</key>
		<integer>84</integer>
		<key>learningSupportLibrary</key>
		<integer>45</integer>
		<key>loebCafe</key>
		<integer>66</integer>
		<key>root</key>
		<integer>0</integer>
		<key>sasc-Arts</key>
		<integer>90</integer>
		<key>sasc-Business</key>
		<integer>90</integer>
		<key>sasc-Engineering</key>
		<integer>90</integer>
		<key>sasc-PublicAffairs</key>
		<integer>90</integer>
		<key>sasc-Science</key>
		<integer>90</integer>
		<key>seo</key>
		<integer>100</integer>
		<key>timsAthletics-Arts</key>
		<integer>15</integer>
		<key>timsAthletics-Business</key>
		<integer>15</integer>
		<key>timsAthletics-Engineering</key>
		<integer>15</integer>
		<key>timsAthletics-PublicAffairs</key>
		<integer>15</integer>
		<key>timsAthletics-Science</key>
		<integer>15</integer>
		<key>treatsCTTC-Arts</key>
		<integer>15</integer>
		<key>treatsCTTC-Business</key>
		<integer>15</integer>
		<key>treatsCTTC-Engineering</key>
		<integer>15</integer>
		<key>treatsCTTC-PublicAffairs</key>
		<integer>15</integer>
		<key>treatsCTTC-Science</key>
		<integer>15</integer>
	</dict>
	<key>NodeParents</key>
	<dict>
		<key>afterLibrary</key>
		<string>learningSupportLibrary</string>
		<key>bookstore</key>
		<string>bookstore-choice</string>
		<key>bookstore-choice</key>
		<string>cafResCommons,foodCourtUC,loebCafe</string>
		<key>businessOfficeRobertson</key>
		<string>root</string>
		<key>cafResCommons-choice</key>
		<string>afterLibrary</string>
		<key>cafResCommons</key>
		<string>cafResCommons-choice</string>
		<key>career</key>
		<string>sasc-Arts,sasc-Business,sasc-Engineering,sasc-PublicAffairs,sasc-Science</string>
		<key>classroom-Arts</key>
		<string>deansOffice-Arts</string>
		<key>classroom-Business</key>
		<string>deansOffice-Business</string>
		<key>classroom-Engineering</key>
		<string>deansOffice-Engineering</string>
		<key>classroom-PublicAffairs</key>
		<string>deansOffice-PublicAffairs</string>
		<key>classroom-Science</key>
		<string>deansOffice-Science</string>
		<key>cuol</key>
		<string>cuol-choice</string>
		<key>cuol-choice</key>
		<string>cafResCommons,foodCourtUC,loebCafe</string>
		<key>cusa</key>
		<string>cusa-choice</string>
		<key>cusa-choice</key>
		<string>cafResCommons,foodCourtUC,loebCafe</string>
		<key>deansOffice-Arts</key>
		<string>timsAthletics-Arts,treatsCTTC-Arts</string>
		<key>deansOffice-Business</key>
		<string>timsAthletics-Business,treatsCTTC-Business</string>
		<key>deansOffice-Engineering</key>
		<string>timsAthletics-Engineering,treatsCTTC-Engineering</string>
		<key>deansOffice-PublicAffairs</key>
		<string>timsAthletics-PublicAffairs,treatsCTTC-PublicAffairs</string>
		<key>deansOffice-Science</key>
		<string>timsAthletics-Science,treatsCTTC-Science</string>
		<key>foodCourtUC-choice</key>
		<string>afterLibrary</string>
		<key>foodCourtUC</key>
		<string>foodCourtUC-choice</string>
		<key>infoCarleton</key>
		<string>cusa,cuol,bookstore</string>
		<key>learningSupportLibrary</key>
		<string>classroom-Arts,classroom-Business,classroom-Engineering,classroom-PublicAffairs,classroom-Science</string>
		<key>loebCafe-choice</key>
		<string>afterLibrary</string>
		<key>loebCafe</key>
		<string>loebCafe-choice</string>
		<key>sasc-Arts</key>
		<string>infoCarleton</string>
		<key>sasc-Business</key>
		<string>infoCarleton</string>
		<key>sasc-Engineering</key>
		<string>infoCarleton</string>
		<key>sasc-PublicAffairs</key>
		<string>infoCarleton</string>
		<key>sasc-Science</key>
		<string>infoCarleton</string>
		<key>seo</key>
		<string>career</string>
		<key>timsAthletics-choice</key>
		<string>businessOfficeRobertson</string>
		<key>treatsCTTC-choice</key>
		<string>businessOfficeRobertson</string>
		<key>treatsCTTC-Arts</key>
		<string>treatsCTTC-choice</string>
		<key>treatsCTTC-Business</key>
		<string>treatsCTTC-choice</string>
		<key>treatsCTTC-Engineering</key>
		<string>treatsCTTC-choice</string>
		<key>treatsCTTC-PublicAffairs</key>
		<string>treatsCTTC-choice</string>
		<key>treatsCTTC-Science</key>
		<string>treatsCTTC-choice</string>
		<key>timsAthletics-Arts</key>
		<string>timsAthletics-choice</string>
		<key>timsAthletics-Business</key>
		<string>timsAthletics-choice</string>
		<key>timsAthletics-Engineering</key>
		<string>timsAthletics-choice</string>
		<key>timsAthletics-PublicAffairs</key>
		<string>timsAthletics-choice</string>
		<key>timsAthletics-Science</key>
		<string>timsAthletics-choice</string>
	</dict>
	<key>CodeOverrides</key>
	<dict>
		<key>sasc-Arts</key>
		<string>sasc</string>
		<key>sasc-Business</key>
		<string>sasc</string>
		<key>sasc-Engineering</key>
		<string>sasc</string>
		<key>sasc-PublicAffairs</key>
		<string>sasc</string>
		<key>sasc-Science</key>
		<string>sasc</string>
	</dict>
	<key>NodeTypes</key>
	<dict>
		<key>afterLibrary</key>
		<string>ChooseYourPath</string>
		<key>businessOfficeRobertson</key>
		<string>ChooseYourPath</string>
		<key>learningSupportLibrary</key>
		<string>ScavengerList</string>
		<key>cafResCommons</key>
		<string>ChooseYourPath</string>
		<key>loebCafe</key>
		<string>ChooseYourPath</string>
		<key>foodCourtUC</key>
		<string>ChooseYourPath</string>
	</dict>
	<key>PlayerRoles</key>
	<array>
		<string>Arts and Social Sciences</string>
		<string>Engineering</string>
		<string>Public Affairs and Management</string>
		<string>Science</string>
		<string>Sprott School of Business</string>
	</array>
	<key>PreconditionForRole</key>
	<dict>
		<key>classroom-Arts</key>
		<string>Arts and Social Sciences</string>
		<key>classroom-Business</key>
		<string>Sprott School of Business</string>
		<key>classroom-Engineering</key>
		<string>Engineering</string>
		<key>classroom-PublicAffairs</key>
		<string>Public Affairs and Management</string>
		<key>classroom-Science</key>
		<string>Science</string>
		<key>deansOffice-Arts</key>
		<string>Arts and Social Sciences</string>
		<key>deansOffice-Business</key>
		<string>Sprott School of Business</string>
		<key>deansOffice-Engineering</key>
		<string>Engineering</string>
		<key>deansOffice-PublicAffairs</key>
		<string>Public Affairs and Management</string>
		<key>deansOffice-Science</key>
		<string>Science</string>
		<key>sasc-Arts</key>
		<string>Arts and Social Sciences</string>
		<key>sasc-Business</key>
		<string>Sprott School of Business</string>
		<key>sasc-Engineering</key>
		<string>Engineering</string>
		<key>sasc-PublicAffairs</key>
		<string>Public Affairs and Management</string>
		<key>sasc-Science</key>
		<string>Science</string>
		<key>timsAthletics-Arts</key>
		<string>Arts and Social Sciences</string>
		<key>timsAthletics-Business</key>
		<string>Sprott School of Business</string>
		<key>timsAthletics-Engineering</key>
		<string>Engineering</string>
		<key>timsAthletics-PublicAffairs</key>
		<string>Public Affairs and Management</string>
		<key>timsAthletics-Science</key>
		<string>Science</string>
		<key>treatsCTTC-Arts</key>
		<string>Arts and Social Sciences</string>
		<key>treatsCTTC-Business</key>
		<string>Sprott School of Business</string>
		<key>treatsCTTC-Engineering</key>
		<string>Engineering</string>
		<key>treatsCTTC-PublicAffairs</key>
		<string>Public Affairs and Management</string>
		<key>treatsCTTC-Science</key>
		<string>Science</string>
	</dict>
	<key>RootNode</key>
	<string>root</string>
	<key>ScavengerItems</key>
	<dict>
		<key>learningSupportLibrary</key>
		<array>
			<string>library-disability-scavenge</string>
			<string>library-groupStudy-scavenge</string>
			<string>library-photocopy-scavenge</string>
			<string>library-researchHelp-scavenge</string>
			<string>library-writingTutorial-scavenge</string>
		</array>
	</dict>
	<key>ScavengerMinItemsToFind</key>
	<dict>
		<key>learningSupportLibrary</key>
		<integer>3</integer>
	</dict>
	<key>SecondaryNodeTitles</key>
	<dict>
		<key>cafResCommons-choice</key>
		<string>Fresh Food Company</string>
		<key>foodCourtUC-choice</key>
		<string>Food Court</string>
		<key>library-disability-scavenge</key>
		<string>Disability Services</string>
		<key>library-groupStudy-scavenge</key>
		<string>Group Study Rooms</string>
		<key>library-photocopy-scavenge</key>
		<string>Photocopy Shop</string>
		<key>library-researchHelp-scavenge</key>
		<string>Research Help Desk</string>
		<key>library-writingTutorial-scavenge</key>
		<string>Writing Tutorial Services</string>
		<key>loebCafe-choice</key>
		<string>Loeb Cafe</string>
		<key>timsAthletics-choice</key>
		<string>Tim Horton&apos;s, Athletics</string>
		<key>treatsCTTC-choice</key>
		<string>Treats, CTTC</string>
		<key>cusa-choice</key>
		<string>CUSA Office</string>
		<key>bookstore-choice</key>
		<string>Bookstore</string>
		<key>cuol-choice</key>
		<string>Carleton University Online</string>
	</dict>
	<key>StoryName</key>
	<string>CU There</string>
</dict>
</plist>
